<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
           <script type="text/javascript">
            function preback(){window.history.forward();}
            setTimeout("preback()",0);
            window.onunload = function() {null};
            </script>
    <title></title>
</head>
<body>
    <div align="center">
    <h1>Welcome {{.username}}</h1>
    <a href="/update">Update Account</a><br><br>
    <a href="/delete">Delete Account</a><br><br>
    <a href="/logout">Logout</a><br><br>
    </div>
</body>
</html>
